In [11]:
# prompt: i have excel file it holds energy data, the data is split over multipel tabs. i need to load one of the tabs. just give the code

import pandas as pd

# Replace 'your_excel_file.xlsx' with the actual file name
# Replace 'Sheet1' with the name of the sheet you want to load
df = pd.read_excel('2024 v2 Annual Technology Baseline Workbook Errata 7-19-2024.xlsx',
                   sheet_name='Fixed-Bottom Offshore Wind', skiprows=277, usecols="K:AO",
                   nrows=21)

df.head(2)

,Unnamed: 10,Unnamed: 11,2022,2023,2024,2025,2026,2027,2028,2029,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Offshore Wind - Class 1,Advanced,103.376849,93.216818,87.496250,83.605471,75.950134,68.990391,62.477264,60.958101,...,50.047900,49.620949,49.222859,48.851539,48.48705,48.146317,47.827964,47.512937,47.218180,46.933892
1,Offshore Wind - Class 1,Moderate,114.626802,109.704178,106.261353,103.640775,101.557258,99.837271,93.251963,86.890409,...,61.462652,61.053730,60.675182,60.301166,59.95431,59.621277,59.300994,58.992472,58.706433,58.418834

In [12]:
df.columns

Index(['Unnamed: 10', 'Unnamed: 11',          2022,          2023,
                2024,          2025,          2026,          2027,
                2028,          2029,          2030,          2031,
                2032,          2033,          2034,          2035,
                2036,          2037,          2038,          2039,
                2040,          2041,          2042,          2043,
                2044,          2045,          2046,          2047,
                2048,          2049,          2050],
      dtype='object')

In [13]:
df.columns = ['Class+Technology','Scenario'] + list(df.columns[2:])

In [14]:
df.head()

,Class+Technology,Scenario,2022,2023,2024,2025,2026,2027,2028,2029,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Offshore Wind - Class 1,Advanced,103.376849,93.216818,87.496250,83.605471,75.950134,68.990391,62.477264,60.958101,...,50.047900,49.620949,49.222859,48.851539,48.487050,48.146317,47.827964,47.512937,47.218180,46.933892
1,Offshore Wind - Class 1,Moderate,114.626802,109.704178,106.261353,103.640775,101.557258,99.837271,93.251963,86.890409,...,61.462652,61.053730,60.675182,60.301166,59.954310,59.621277,59.300994,58.992472,58.706433,58.418834
2,Offshore Wind - Class 1,Conservative,134.479659,133.638473,132.858906,132.159337,131.531742,130.914405,130.357895,129.830504,...,75.951716,75.603547,75.270481,74.966730,74.659882,74.380056,74.110727,73.851127,73.600524,73.358328
3,Offshore Wind - Class 2,Advanced,106.008751,95.606175,89.745820,85.745021,77.922784,70.804643,64.162053,62.615171,...,51.411330,50.979994,50.578549,50.185142,49.818103,49.475765,49.137400,48.821348,48.516906,48.223250
4,Offshore Wind - Class 2,Moderate,117.481380,112.427127,108.905965,106.235773,104.099030,102.317103,95.599213,89.092417,...,63.126194,62.703728,62.313135,61.926582,61.568517,61.224683,60.906586,60.587825,60.292775,59.995524

In [15]:

df = round(df, 2)

df.head(2)

,Class+Technology,Scenario,2022,2023,2024,2025,2026,2027,2028,2029,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Offshore Wind - Class 1,Advanced,103.38,93.22,87.50,83.61,75.95,68.99,62.48,60.96,...,50.05,49.62,49.22,48.85,48.49,48.15,47.83,47.51,47.22,46.93
1,Offshore Wind - Class 1,Moderate,114.63,109.70,106.26,103.64,101.56,99.84,93.25,86.89,...,61.46,61.05,60.68,60.30,59.95,59.62,59.30,58.99,58.71,58.42

In [16]:
df['Cleaned+Technology'] = df['Class+Technology'].str.replace('Offshore Wind - ','')

In [17]:
mask = df['Cleaned+Technology'] == 'Class 3'
df = df[mask]
print(df)

          Class+Technology      Scenario    2022    2023    2024    2025  \
6  Offshore Wind - Class 3      Advanced  108.66   97.99   91.96   87.88
7  Offshore Wind - Class 3      Moderate  120.53  115.35  111.72  108.99
8  Offshore Wind - Class 3  Conservative  141.46  140.57  139.77  139.03

     2026    2027    2028    2029  ...   2042   2043   2044   2045   2046  \
6   79.81   72.47   65.61   64.02  ...  52.10  51.68  51.29  50.91  50.55
7  106.78  104.96   98.03   91.33  ...  64.12  63.72  63.33  62.96  62.61
8  138.34  137.71  137.12  136.56  ...  79.41  79.06  78.74  78.43  78.12

    2047   2048   2049   2050  Cleaned+Technology
6  50.21  49.88  49.57  49.27             Class 3
7  62.27  61.96  61.64  61.35             Class 3
8  77.84  77.56  77.30  77.04             Class 3

[3 rows x 32 columns]

In [21]:
df['Class'] = df['Cleaned+Technology'].str.split(' - ').str[0].str.replace('Class ','').astype(int)
df.head

<bound method NDFrame.head of           Class+Technology      Scenario    2022    2023    2024    2025  \
6  Offshore Wind - Class 3      Advanced  108.66   97.99   91.96   87.88
7  Offshore Wind - Class 3      Moderate  120.53  115.35  111.72  108.99
8  Offshore Wind - Class 3  Conservative  141.46  140.57  139.77  139.03

     2026    2027    2028    2029  ...   2044   2045   2046   2047   2048  \
6   79.81   72.47   65.61   64.02  ...  51.29  50.91  50.55  50.21  49.88
7  106.78  104.96   98.03   91.33  ...  63.33  62.96  62.61  62.27  61.96
8  138.34  137.71  137.12  136.56  ...  78.74  78.43  78.12  77.84  77.56

    2049   2050  Cleaned+Technology  Class  Technology
6  49.57  49.27             Class 3      3         NaN
7  61.64  61.35             Class 3      3         NaN
8  77.30  77.04             Class 3      3         NaN

[3 rows x 34 columns]>

In [22]:
df2 = df.drop(['Class+Technology', 'Cleaned+Technology', 'Technology'], axis=1)

In [24]:
df3 = df2.set_index(['Scenario','Class']).stack().reset_index()

In [26]:
df3.columns = ['Scenario','Class','Year','Value']

In [28]:
df3.head

<bound method NDFrame.head of         Scenario  Class  Year   Value
0       Advanced      3  2022  108.66
1       Advanced      3  2023   97.99
2       Advanced      3  2024   91.96
3       Advanced      3  2025   87.88
4       Advanced      3  2026   79.81
..           ...    ...   ...     ...
82  Conservative      3  2046   78.12
83  Conservative      3  2047   77.84
84  Conservative      3  2048   77.56
85  Conservative      3  2049   77.30
86  Conservative      3  2050   77.04

[87 rows x 4 columns]>

In [29]:
df3.to_csv('offshore_wind_LCOE_cleaned.csv', index=False)
# https://tinyurl.com/windbristol